@model IEnumerable<AppMovie.Models.Pessoa>

@{
    ViewData["Title"] = "Principal";
}

<h1>Principal</h1>

<h4>Aniversariantes do dia!</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Nascimento.Day == DateTime.Today.Day && item.Nascimento.Month == DateTime.Today.Month)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sobrenome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nascimento)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h4>Próximos aniversários!</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(p => p.DiasParaNiver(p.Nascimento)))
        {
            @if (item.DiasParaNiver(item.Nascimento) != 0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sobrenome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nascimento)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>